.add-btn {
    background: lightblue;
    width: 40px;
    height: 40px;
}

body {
    background: lightyellow;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

button {
    background: pink;
    border: none;
    margin: 20px;
}

h1 {
    text-align: center;
    color: lightblue;
    font-size: 70px;
}

ul {
    border: 5px solid pink;
    border-radius: 25px;
}
